{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
<h1>Aashu Gupta<h1>
<h2>College: IIT(B.H.U), VARANASI</h2>
<h2>E-mail id: aashu.gupta.min16@itbhu.ac.in</h2>
<h2>Phone no.- </h2>
<br/>
<br/>
<h1>Adarsh Kumar<h1>
<h2>College: IIT(B.H.U), VARANASI</h2>
<h2>E-mail id: adarsh.kumar.min16@itbhu.ac.in</h2>
<h2>Phone no.- 8564972752</h2>
<br/>
<br/>
<h1>Aditya Sachan<h1>
<h2>College: IIT(B.H.U), VARANASI</h2>
<h2>E-mail id: aditya.sachan.min16@itbhu.ac.in</h2>
<h2>Phone no.-</h2>
<br/>
<br/>
<h1>Divyansh Kumar<h1>
<h2>College: IIT(B.H.U), VARANASI</h2>
<h2>E-mail id: divyansh.kumar.min16@itbhu.ac.in</h2>
<h2>Phone no.-</h2>
<br/>
<br/>

<br/>
<br/>
<h2>Below is the typical tech stack that we used for projects we've worked on:</h2>
<ul>
<li>DJANGO</li>
<li>HTML</li>
<li>CSS</li>
<li>BOOTSTRAP</li>
<li>JQUERY</li>
<li>JAVASCRIPT</li>
<li>AJAX</li>
</ul>
{% endblock %}