{% extends 'base.html' %}
{% block content %}
<h2>Shop By Category</h2>
<h3>Men</h3>
<ul>
<li><a href="#">T-shirts</a></li>
<li><a href="#">Shirts</a></li>
<li><a href="#">Blazers</a></li>
<li><a href="#">Kurtas</a></li>
<li><a href="#">Jeans</a></li>
<li><a href="#">Trousers</a></li>
<li><a href="#">Shorts</a></li>
<li><a href="#">Hoodies</a></li>
<li><a href="#">Jackets</a></li>
<li><a href="#">Sweaters</a></li>
<li><a href="#">Men Shoes</a></li>
</ul>
<h3>Women</h3>
<ul>
<li><a href="#">Kurtas</a></li>
<li><a href="#">Salwar Suits</a></li>
<li><a href="#">Sarres</a></li>
<li><a href="#">Tops</a></li>
<li><a href="#">Jeans</a></li>
<li><a href="#">Coats and Jackets</a></li>
<li><a href="#">Hoodies</a></li>
<li><a href="#">Cardigans</a></li>
<li><a href="#">Shoes</a></li>
<li><a href="#">Artifical Jewellery</a></li>
</ul>
<h3>Kids</h3>
<ul>
<li><a href="#">Jackets</a></li>
<li><a href="#">Hoodies</a></li>
<li><a href="#">Sweatshirts</a></li>
<li><a href="#">Boys Dresses</a></li>
<li><a href="#">Girls dresses</a></li>
<li><a href="#">Shoes</a></li>
</ul>
<h3>Offers</h3>
<ul>
<li><a href="#">Men T-shirts under 499</a></li>
<li><a href="#">30% discount on Silk Sarres</a></li>
<li><a href="#">Men Shoes under discount</a></li>
<li><a href="#">Kids Jackets under discount</a></li>
</ul>
{% endblock %}
